# Complex Datatype

1. string
2. list
2. tuple
3. dictonary
4. set

# Complex Datatype - Strings
syntax : stringName = "String Value" <br>
In python strings are mutable

In [2]:
#string
st = "I love python"
print (st)
print("Hello World")

I love python
Hello World

In [3]:
# string

str1 = "I love python"
print(str1)
print("length str1 : ", len(str1))

str2 = "Hello world"
print(len(str2))
print("length str2 : ",len(str2))

str3 = str1 + str2
print(len(str3))
print("length str3 : ",len(str3))

I love python
length str1 :  13
11
length str2 :  11
24
length str3 :  24

In [4]:
# string slicing or accing substring
# syntax - [start_index : end_index : jumps ]
# default jump would be 1

str1 = "I love python"
print(len(str1))
print(str1[:])# print complete string

print(str1[2:10])#print string from position 2 to 10

print(str1[2:10:2]) #print from position 2 to 10 with increment 2 positions

print(str1[1:]) #print string from index position 1 to last

13
I love python
love pyt
lv y
 love python

In [5]:
#reverse index
print(st)
print(st[-3]) 
print(st[-6:-3])

I love python
h
pyt

In [6]:
print(str1[10:3:-1]) #print from position 10 to 3 with decrement 1 position

print(str1[1:-1]) #print string from index position 1 to last-1

print(str1[::-1]) #[start_index : end_index : operation ]

print(str1[::-2]) #[start_index : end_index : operation ]

htyp ev
 love pytho
nohtyp evol I
nhy vlI

# Complex Datatype - List
list is a collection of data itmes stored under a common name, seperated by comma. <br>
The most important characteristic of list is that it is a mutable structure, <br><br>
i.e changes can be made by references the list. <br>
list is declared or represented by [ ]<br>
starting index is zero (0)<br>
while sclicing starting index and ending index excluded as [starting index : ending index]<br>

In [1]:
a = [1,2,3,4,5,6,7,8,9,10]
a = [1,2,3,4,5,6,7.5,8,9,10]     
print (a)

print(a[0])
print(a[:3])
print(a[5:])
print(a[1:7])

print (a[-1])
print(a[-2])
print(a[-5:-2])
print(a[-1:0:-1])

[1, 2, 3, 4, 5, 6, 7.5, 8, 9, 10]
1
[1, 2, 3]
[6, 7.5, 8, 9, 10]
[2, 3, 4, 5, 6, 7.5]
10
9
[6, 7.5, 8]
[10, 9, 8, 7.5, 6, 5, 4, 3, 2]

In [2]:
#to show list is mutable
print(a)
a[5] = 101
print(a)

[1, 2, 3, 4, 5, 6, 7.5, 8, 9, 10]
[1, 2, 3, 4, 5, 101, 7.5, 8, 9, 10]

In [3]:
#list of string
namelist = ['jadeesh','likith','vishu','vishnu','sumanth','akash']
print(namelist)
print(namelist[:2])

nam = "Arjun"
print(nam[:2])

namelist[2] = 'Ramesh'
print (namelist)

['jadeesh', 'likith', 'vishu', 'vishnu', 'sumanth', 'akash']
['jadeesh', 'likith']
Ar
['jadeesh', 'likith', 'Ramesh', 'vishnu', 'sumanth', 'akash']

# Complex Datatype - tuple
Tuple is a sequence data type that can contain elements seperated by comma of different data types, but these are immutable in nature. <br>
it is defined by ()<br>
list can have list tuples, vise versa in not possible <br>

In [5]:
x = (1,2,3,4,5,6,7,8,9,100)
print(x)

#to show tuple is immutable
x[5] = 200
print(x)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 100)

TypeError: 'tuple' object does not support item assignment

# Complex Datatype - Dictinory

Collection of Key Value Pairs <br>
Key Value pairs (KVP) is a set to two linked data items, <br>
key is unique identifier val is data which is either the data that is identified or a pointer to the location of that data<br>
dictionary is defined with {}<br>
dictionaryname = {key:value}<br>

In [7]:
qual = {"BE":2020}
print(qual)

qual1 = {"sslc" : 2014, "puc" : 2016, "BE" : 2020}
print(qual1)

{'BE': 2020}
{'sslc': 2014, 'puc': 2016, 'BE': 2020}

In [8]:
#dictionary and tuple combination

plist = {'p1' : ('tv',40000,1),
           'p2' : ('laptop',60000,2),
            'p3' : ('mobile',10000,5)}
                    
print(plist)

{'p1': ('tv', 40000, 1), 'p2': ('laptop', 60000, 2), 'p3': ('mobile', 10000, 5)}

# Combining Complex Datatypes

In [10]:
#list and tuple combination
product = ('p1',40000,'laptop',5)
print(product)

salary = (1000,100,500,450,1250)
print (salary)

#list of tuples
productlist = [('p1',40000,'laptop',5),
              ('p2',45000,'TV',2),
              ('p3',20000,'Phone',10)]

print(productlist)

print(productlist[1])

('p1', 40000, 'laptop', 5)
(1000, 100, 500, 450, 1250)
[('p1', 40000, 'laptop', 5), ('p2', 45000, 'TV', 2), ('p3', 20000, 'Phone', 10)]
('p2', 45000, 'TV', 2)

In [11]:
#dictionary and list combination

glist = {2014 : ['cricket','kabadhi'],
         2015 : ['Cricket','hockey'],
         2016 : ['football','cricket'],
         2017 : ['football','snooker']}
print (glist)

{2014: ['cricket', 'kabadhi'], 2015: ['Cricket', 'hockey'], 2016: ['football', 'cricket'], 2017: ['football', 'snooker']}

In [12]:
#dicitionary, list and tuple combination

sales = {('branch1','p1') : [100,200],
         ('branch2','p1') : [50,70],
         ('branch1','p2') : [10,20],
         ('branch2','p2') : [5,7]
         }
print(sales)
print(sales[('branch1','p1')])

{('branch1', 'p1'): [100, 200], ('branch2', 'p1'): [50, 70], ('branch1', 'p2'): [10, 20], ('branch2', 'p2'): [5, 7]}
[100, 200]

In [13]:
# working with dictionary
q={'btech':2000,'mtech':2002,'phd':2008}
print(q)
print(q['btech'])

q['mba']=2012
print(q)
print(q['mba'])

q['mba']=2015
print(q)

#if the key already exists in dictionary it will change the value, 
#else it will add new key with the value

{'btech': 2000, 'mtech': 2002, 'phd': 2008}
2000
{'btech': 2000, 'mtech': 2002, 'phd': 2008, 'mba': 2012}
2012
{'btech': 2000, 'mtech': 2002, 'phd': 2008, 'mba': 2015}

In [ ]:
acc={101:1000,102:20000,103:5000}
print(acc)

acc[101]+=2000
acc[102]-=5000
acc[103]+=2000
acc[105]= 8000

print(acc)