<h3>Use the data in AccountMaster.txt, AccountTransaction.txt and placemaster.txt and perform the following operations</h3>

-- if the transaction type is cr add that amount to the balance<br>
-- if the transaction type is db deduct that amount from the balance<br>
-- after the deduction if the current balance is <1000 in comments column give message "minimum balance not maintained"<br>
-- if current balance is > 1000 then in comments give the message "Balance Maintained"<br>

=====================================================================================================================

Sample output :

accountNo, customername, place, gender, balance, credit, debit, currentbalance, comments

=================================================================<br>
8888,	    lakshman,    hassan,  m,     5000,    2500,   0,       7500,         Balance Maintained<br>
9999,           ani,     bangalore,m,    2000,     0,    1000,     1000,         Balance Maintained

In [3]:
file_AccountMaster = open("AccountMaster.txt")
file_AccountTransaction = open("AccountTransaction.txt")
file_placemaster = open("placemaster.txt")

header_AccountMaster = file_AccountMaster.readline()
header_AccountTransaction = file_AccountTransaction.readline()
header_placemaster = file_placemaster.readline()

list_Account = []
print(header_AccountMaster.strip().split(",") + header_AccountTransaction.strip().split(","))

lines_AccountMaster = file_AccountMaster.readlines()
lines_AccountTransaction = file_AccountTransaction.readlines()

for Avalue,Tvalue in list(zip(lines_AccountMaster,lines_AccountTransaction)):
    Avalue = Avalue.strip().split(",")
    Tvalue = Tvalue.strip().split(",")
    list_Account.append((int(Avalue[0]),Avalue[1],int(Avalue[2]),Avalue[3],float(Avalue[4]),
                         int(Tvalue[0]),float(Tvalue[1]),Tvalue[2]))

for value in list_Account:
    print(value)

print("==========================================================")    
header_value = header_placemaster.strip().split(",")
dict_placemaster = {header_value[0]:header_value[1]}
lines_placemaster = file_placemaster.readlines()
for values in lines_placemaster:
    values = values.strip().split(",")
    key = int(values[0])
    value = values[1]
    if dict_placemaster.get(key)==None:
        dict_placemaster[key]=value
print(dict_placemaster)

['accountNo', ' customername', ' placecode', ' gender', ' balance', 'accountno', ' amount', ' transactiontype']
(1001, 'rama', 11, 'm', 5000.0, 1001, 2500.0, 'cr')
(1002, 'krishan', 12, 'm', 10000.0, 1002, 8000.0, 'dr')
(1003, 'amar', 11, 'm', 7500.0, 1003, 4000.0, 'dr')
(1004, 'ravi', 12, 'm', 6500.0, 1004, 6000.0, 'dr')
(1005, 'kiran', 13, 'm', 12000.0, 1005, 5000.0, 'cr')
(1006, 'suma', 15, 'f', 25000.0, 1006, 24500.0, 'dr')
(1007, 'reema', 14, 'f', 14000.0, 1007, 2000.0, 'cr')
(1008, 'reshma', 15, 'f', 2500.0, 1008, 5000.0, 'cr')
(1009, 'akash', 13, 'm', 1000.0, 1009, 500.0, 'cr')
(1010, 'avinash', 14, 'm', 18000.0, 1010, 17500.0, 'dr')
==========================================================
{'placecode': ' place', 11: 'Hassan', 12: 'Bangalore', 13: 'Mysore', 14: 'Mangalore', 15: 'Shimoga'}

In [4]:
final_result=[]

def take_comment(currentbalance):
    if currentbalance<1000:
        return "minimum balance not maintained"
    else:
        return "balance maintained"

def checkcurrentbalance(balance,transactiontype,transactionamount):
    if transactiontype == "cr":
        return balance + transactionamount
    elif transactiontype =="dr":
        return balance - transactionamount
    else:
        return balance
           
for value in list_Account:
    Account_number = value[0]
    name = value[1]
    place = dict_placemaster.get(value[2])
    gender = value[3]
    balance = value[4]
    transactionamount = value[-2]
    transactiontype = value[-1]
    
    if transactiontype == "cr":
        currentbalance = balance + transactionamount
        credit = transactionamount
        debit = 0
    elif transactiontype =="dr":
        currentbalance = balance - transactionamount
        credit = 0
        debit = transactionamount
        
    comments = take_comment(currentbalance)
    
    final_result.append((Account_number,name,place,gender,balance,credit,debit,currentbalance,comments))

In [5]:
head="accountNo, customername, place, gender, balance, credit, debit, currentbalance, comments"
print(head)
print("==========================================================================================")
for values in final_result:
    print(values)

accountNo, customername, place, gender, balance, credit, debit, currentbalance, comments
==========================================================================================
(1001, 'rama', 'Hassan', 'm', 5000.0, 2500.0, 0, 7500.0, 'balance maintained')
(1002, 'krishan', 'Bangalore', 'm', 10000.0, 0, 8000.0, 2000.0, 'balance maintained')
(1003, 'amar', 'Hassan', 'm', 7500.0, 0, 4000.0, 3500.0, 'balance maintained')
(1004, 'ravi', 'Bangalore', 'm', 6500.0, 0, 6000.0, 500.0, 'minimum balance not maintained')
(1005, 'kiran', 'Mysore', 'm', 12000.0, 5000.0, 0, 17000.0, 'balance maintained')
(1006, 'suma', 'Shimoga', 'f', 25000.0, 0, 24500.0, 500.0, 'minimum balance not maintained')
(1007, 'reema', 'Mangalore', 'f', 14000.0, 2000.0, 0, 16000.0, 'balance maintained')
(1008, 'reshma', 'Shimoga', 'f', 2500.0, 5000.0, 0, 7500.0, 'balance maintained')
(1009, 'akash', 'Mysore', 'm', 1000.0, 500.0, 0, 1500.0, 'balance maintained')
(1010, 'avinash', 'Mangalore', 'm', 18000.0, 0, 17500.0, 500.0, 'minimum balance not maintained')

In [6]:
f = open('output.txt', 'w')
for t in final_result:
    line = ' '.join(str(x) for x in t)
    f.write(line + '\n')
f.close()