# Exercise 14
name=['saFA','DruVha','mujaSIM','amitHa','susHeEl'.........10 names] <br>
sal=[40000,50000,60000,55000,45000......]<br>
dno=[11,12,13,14,15........]    <br>
gender=['m','m','f','f','m'......]<br>

(dno : department number should be 11 to 15 only)<br>
(department name can be give according to your wish,
11 : technical, 12 : Hr so on.)<br>

1. need to transform dno to dept name. 
2. convert names to proper case
3. transfrom m and f to male and female respectively

output : Safa,40000,Technical,Female

Do the following Analysis :
----------------------------
Find total number of Male employees<br>
Find total number of Female employees<br>
Find total number of employees working in each department<br>
Find higest salaried in male<br>
find higest salaried in female<br>

In [1]:
name=['saFA','DruVha','mujaSIM','amitHa','susHeEl','MohAN','kuMAr','ShuPi','RitHESh','  AkASh  ']
sal=[40000,50000,60000,55000,45000,41000,51000,61000,56000,46000]
dno=[11,13,14,12,15,11,12,13,14,15]
gender=['m','m','f','f','m','m','m','f','m','m']

In [2]:
# task1 : need to transform dno to dept name.
def dept_name(dept_no):
    if dept_no == 11:
        dept_name = "Hr"
    elif dept_no == 12:
        dept_name = "Devops"
    elif dept_no == 13:
        dept_name  ="Network"
    elif dept_no == 14:
        dept_name  = "Technical"
    elif dept_no == 15:
        dept_name  = "Info Systems"
    else:
        dept_name  = None
    return dept_name

In [3]:
# task2 : convert names to proper case

def convert_names(name):
    s = name.strip()
    fc = s[0].upper() #first character
    rc = s[1:].lower() #remaining characters
    new_name = fc + rc #new name
    return new_name

In [4]:
# task3 transfrom m and f to male and female respectively

def fgender(gender):
    if gender == 'm' or gender == 'M':
        res = "Male"
    if gender == 'f' or gender == 'F':
        res = "Female"
    return res

In [5]:
info=[]
for n,s,d,g in list(zip(name,sal,dno,gender)):
    c_name = convert_names(n)
    gen = fgender(g)
    dept = dept_name(d)
    info.append((c_name,gen,dept,s))

for value in info:
    print(value)

('Safa', 'Male', 'Hr', 40000)
('Druvha', 'Male', 'Network', 50000)
('Mujasim', 'Female', 'Technical', 60000)
('Amitha', 'Female', 'Devops', 55000)
('Susheel', 'Male', 'Info Systems', 45000)
('Mohan', 'Male', 'Hr', 41000)
('Kumar', 'Male', 'Devops', 51000)
('Shupi', 'Female', 'Network', 61000)
('Rithesh', 'Male', 'Technical', 56000)
('Akash', 'Male', 'Info Systems', 46000)

In [6]:
# 01 : Find total number of Male employees
# 02 : Find total number of Female employees

res = {}
for value in info:
    gender = value[1]

    if res.get(gender)==None:
        res[gender]=1
    else:
        res[gender]+=1
print(res)

{'Male': 7, 'Female': 3}

In [7]:
# 03: Find total number of employees working in each department
res = {}
for value in info:
    department = value[2]
    
    if res.get(department)==None:
        res[department]=1
    else:
        res[department]+=1
print(res)

{'Hr': 2, 'Network': 2, 'Technical': 2, 'Devops': 2, 'Info Systems': 2}

In [8]:
# 04: Find higest salaried in male
# 05: Find higest salaried in female

Male_salary_list = []
Female_salary_list = []
for value in info:
    if value[1]=='Male':
        Male_salary_list.append(value[3])
    elif value[1]=='Female':
        Female_salary_list.append(value[3])

print("Highest salary in Male : ",max(Male_salary_list))
print("Highest salary in Female : ",max(Female_salary_list))

Highest salary in Male :  56000
Highest salary in Female :  61000