<h3>Use the data in empmaster.txt departmentmaster.txt and placemaster.txt and perform the following operations</h3>

empmaster : empid, empname, dno, gender, placecode, basicsalary <br>
departmentmaster : dno, dname<br>
placemaster : placecode, place<br>

calculation:<br>

1. HRA : 10% of Basic Salary<br>
2. DA : 5% of Basic Salary<br>
3. CCA : 5% of Basic Salary<br>
4. GrossSalary :  Basicsalary + hra + da + cca<br>
5. PF : 5% of Basic Salary<br>
6. PT : 500<br>
7. IncomeTax :
        if salary >=50000 10% of BasicSalary<br>
        if salary < 50000 5% of BasicSalary<br>
8. TotalDeduction = PF + PT + IT<br>
9. Net Salary = GrossSalary - TotalDeduction <br>

Output file :<br>

empid, empname, gender, department, place, basicsalary, hra,da,cca, grosssalary, pf,pt,incometax,totaldeduction,netsalary<br>

In [5]:
file_empMaster = open("empmaster.txt")
file_departmentMaster = open("departmentmaster.txt")
file_placeMaster = open("placemaster.txt")

header_empMaster = file_empMaster.readline()
header_departmentMaster = file_departmentMaster.readline()
header_placeMaster = file_placeMaster.readline()

line_empMaster = file_empMaster.readlines()
line_departmentMaster = file_departmentMaster.readlines()
line_placeMaster = file_placeMaster.readlines()

dict_departmentmaster = {}
for values in line_departmentMaster:
    values = values.strip().split(",")
    key = int(values[0])
    value = values[1]
    if dict_departmentmaster.get(key)==None:
        dict_departmentmaster[key]=value
print(dict_departmentmaster)

dict_placeMaster = {}
for values in line_placeMaster:
    values = values.strip().split(",")
    key = int(values[0])
    value = values[1]
    if dict_placeMaster.get(key)==None:
        dict_placeMaster[key]=value
print(dict_placeMaster)

{11: 'HR', 12: 'Technical', 13: 'Accounts', 14: 'Network', 15: 'Test'}
{101: 'Hassan', 102: 'Bangalore', 103: 'Mysore', 104: 'Mangalore', 105: 'Shimoga'}

In [6]:
New_list_empMaster = []

def incometax(sal):
    if sal>=50000:
        return sal * 0.10
    if sal<50000:
        return sal * 0.05

for value in line_empMaster:
    Values = value.strip().split(",")
    empid = int(Values[0])
    empname = Values[1]
    dno = int(Values[2])
    department = dict_departmentmaster.get(dno)
    gender = Values[3]
    placecode = int(Values[4])
    place = dict_placeMaster.get(placecode)
    basic_salary = int(Values[5])
    
    HRA = basic_salary*0.10
    DA = basic_salary*0.05
    CCA = basic_salary*0.05
    GrossSalary  = basic_salary + HRA + DA + CCA
    
    PF = basic_salary*0.05
    PT = 500
    IT = incometax(basic_salary)
    
    TotalDeduction = PF + PT + IT
    Net_Salary = GrossSalary - TotalDeduction
    
    New_list_empMaster.append((empid,empname,department,gender,place,basic_salary,HRA,DA,CCA,GrossSalary,PF,PT,IT,TotalDeduction,Net_Salary))

In [7]:
output_file = open('file.txt', 'w')
output_file.write("empid, empname, gender, department, place, basicsalary, hra,da,cca, grosssalary, pf,pt,incometax,totaldeduction,netsalary" + '\n')
for t in New_list_empMaster:
    line = ' '.join(str(x) for x in t)
    output_file.write(line + '\n')
output_file.close()