# Adding two list

In [47]:
# way1

a=[1,2,3,4,5]
b=[10,20,30,40,50]

i=0 #using for index value of b
res=[]

for value in a:
    c = value + b[i]
    i+=1
    res.append(c) #appends the data to 'a' list object

print(a)
print(b)
print(res)

[1, 2, 3, 4, 5]
[10, 20, 30, 40, 50]
[11, 22, 33, 44, 55]

# list - append() 

syntax : list_name.append(value)

In [53]:
#append method/statement is used add data/element to end of the list object
a = [] # empty list
x =  int(input("Enter a number : "))
a.append(x)
print(a)

Enter a number : 12
[12]

In [54]:
#append method is used add data/element to end of the list object
b = [1,2,3]
x =  int(input("Enter a number : "))
b.append(x)
print(b)

Enter a number : 23
[1, 2, 3, 23]

# list - insert()

syntax : list_name.insert(position,value)

In [55]:
#insert method is used to insert data to the specifice location of the list
b = [1,2,3]
x = 10
b.insert(2,x)
print (b)

[1, 2, 10, 3]

In [56]:
b = [1,2,3]
x = (10,12)
b.insert(2,x)
print (b)

[1, 2, (10, 12), 3]

# method - zip() 
The zip function pairs the first elements of each iterator together, then pairs the second elements together and so on.
<br>
If the iterables in the zip function are not the same length, then the smallest length iterable decides the length of the generated output

In [57]:
a=(1,2,3)
b=(10,20,30)
x=zip(a,b)
print(tuple(x))

((1, 10), (2, 20), (3, 30))

In [58]:
#way2

a=[1,2,3,4,5]
b=[10,20,30,40,50]

res = []
for x,y in list(zip(a,b)):   #[(1,10),(2,20),(3,30),(4,40),(5,50)]
    res.append(x+y)

print(res)

[11, 22, 33, 44, 55]

# List Comprehension

In [59]:
#way 3:
a=[1,2,3,4,5]
b=[10,20,30,40,50]
r1=[x+y for x,y in list(zip(a,b))] #[(1,25),(2,35),(3,45),(4,55),(5,65)]
print(r1)
#for v in r1:
#    print(v)

[11, 22, 33, 44, 55]

In [60]:
kms = [200,300,350,600,750]
miles = [(float(x/1.6)) for x in kms]
print(miles)

[125.0, 187.5, 218.75, 375.0, 468.75]

In [61]:
#[(x,y,z) for x in range(1,30) for y in range(x,30) for z in range(y,30)]

[(x,y,z) for x in range(1,30) for y in range(x,30) for z in range(y,30) if x**2 + y**2 == z**2]

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (10, 24, 26),
 (12, 16, 20),
 (15, 20, 25),
 (20, 21, 29)]

# filter over list objects

In [62]:
#way 1:

age=[12,23,22,26,27,34,56,75,62,59,30]
new_age=[]
for v in age:
    if v>=30:
        new_age.append(v)
print(new_age)

[34, 56, 75, 62, 59, 30]

In [63]:
#way 2:

age=[12,23,22,26,27,34,56,75,62,59,30]
new_age=[value for value in age if value>=30]                #[34, 56, 75, 62, 59, 30]
print(new_age)

[34, 56, 75, 62, 59, 30]

In [64]:
name=['a','b','c','d','e']
sal=[40000,50000,60000,55000,45000]
dno=[11,12,13,14,15]
gender=['m','m','f','f','m']
info=[]

for n,s,d,g in list(zip(name,sal,dno,gender)):#[(a,40000,11,m)]
       info.append((n,g,s,d))
        
#print(info)
for values in info:
    print(values)

('a', 'm', 40000, 11)
('b', 'm', 50000, 12)
('c', 'f', 60000, 13)
('d', 'f', 55000, 14)
('e', 'm', 45000, 15)

In [65]:
#finding the total salary for male employees and female employees (aggregation)

name=['a','b','c','d','e']
sal=[40000,50000,60000,55000,45000]
dno=[11,12,13,14,15]
gender=['m','m','f','f','m']
info=[]
res={}

for n,s,d,g in list(zip(name,sal,dno,gender)):
    info.append((n,g,s,d))
    
for value in info:
    print(value)
    
for values in info:  #('d', 'f', 55000, 14)
    gen = value[1] #f
    sal = value[2] #55000  
    
    if res.get(gen)==None: #{m:135000,f:115000}
        res[gen]=sal
    else:
        res[gen]+=sal
print (res)

('a', 'm', 40000, 11)
('b', 'm', 50000, 12)
('c', 'f', 60000, 13)
('d', 'f', 55000, 14)
('e', 'm', 45000, 15)
{'m': 225000}

# Python dictionary method - get() 

returns a value for the given key. <br> If key is not available then returns <strong> default value - None</strong>.

In [66]:
#program to classify the names of male employees and female employees

name=['a','b','c','d','e']
sal=[40000,50000,60000,55000,45000]
dno=[11,12,13,14,15]
gender=['m','m','f','f','m']
info=[]
res={}

for n,s,d,g in list(zip(name,sal,dno,gender)):  
    info.append((n,g,s,d))

# print(info)

for value in info:
    print(value)
    
for value in info: 
    gen = value[1] #f
    nam = value[0] #d
    
    if res.get(gen)==None:  #{m:[a,b,e], f:[c,d]}
        res[gen]=[nam]     
    else:
        res[gen].append(nam)
#print (res)

for k in res:
    print (res[k])

('a', 'm', 40000, 11)
('b', 'm', 50000, 12)
('c', 'f', 60000, 13)
('d', 'f', 55000, 14)
('e', 'm', 45000, 15)
['a', 'b', 'e']
['c', 'd']

In [67]:
name = "Mohan kumar"
print(name.capitalize())

Mohan kumar

# list methods - index()

In [68]:
#The index() method returns the index of the specified element in the list.

a = [100,2,3,4,5,6,7,8,9,10]

print("Data :", a[0])
print("Index :",a.index(10))
print("Index :",a.index(a[0]))

Data : 100
Index : 9
Index : 0

In [69]:
a = [100,2,3,4,5,6,7,8,9,10]
for x in a:
    print("Data :",x,  'Index : ',a.index(x))

Data : 100 Index :  0
Data : 2 Index :  1
Data : 3 Index :  2
Data : 4 Index :  3
Data : 5 Index :  4
Data : 6 Index :  5
Data : 7 Index :  6
Data : 8 Index :  7
Data : 9 Index :  8
Data : 10 Index :  9

In [70]:
b = ['c','o','m','p','u','t','e','r']

for x in b:
    print("Data :",x,  'Index: ',b.index(x))

Data : c Index:  0
Data : o Index:  1
Data : m Index:  2
Data : p Index:  3
Data : u Index:  4
Data : t Index:  5
Data : e Index:  6
Data : r Index:  7

In [71]:
b = ['I','n','d','i','a','n','a','m','r','y']
print(b.index('a'))

4

In [72]:
b = ['I','n','d','i','a','n','a','m','r','y']
print(b.index('a',5,10))

6

# list methods - extend()

In [73]:
a = [1,2,3,4,5,6,7,8,9,10]
b = [100,200,300]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 200, 300]

In [74]:
a = [1,2,3,4,5,6,7,8,9,10]
b = (100,200,300)
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 200, 300]

In [75]:
#we can extend the list without using extend method
a = [10, 22]
b = (13, 48)
a += b   
# a + = b   #this leads to an error cause += is a single operators
print('a =', a)

a = [10, 22, 13, 48]

In [76]:
#another type of extending

a = [10, 22]
b = (13, 48)

a[len(a):] = b  #a[2:] = b
print('a =', a)
print(len(a))

a = [10, 22, 13, 48]
4

# list methods - remove()

In [77]:
#The remove() method removes the first matching element in the list (element has be passed as argument)
namlist = ["Amar","Akbar","Amar","Antony"]
namlist.remove("Amar")
print(namlist)

['Akbar', 'Amar', 'Antony']

# list methods - count()

In [78]:
#The count() method returns the number of times of the given element appears in the list.
a = [1,2,3,4,5,2,7,8,2,10]
print(a.count(2))

3

In [79]:
b = ['I','n','d','i','a','n','a','m','r','y']
print(b.count('a'))

2

# list methods - pop()

In [80]:
#The pop() method removes the item at the given index from the list and returns the removed item.

a = [1,2,3,1000,5,2,7,8,2,10]
removedvalue = a.pop(3)
print(removedvalue)
print(a)

1000
[1, 2, 3, 5, 2, 7, 8, 2, 10]

# list methods - reverse()

In [81]:
#The reverse() method reverses the elements of the list.
a = [1,2,3,4,5,2,7,8,2,10]
b = ["Ullaas","Pavan","Rakshith"]
b.reverse()
print(b)

['Rakshith', 'Pavan', 'Ullaas']

# list methods - copy()

In [82]:
#copy() method Copies the elements of one list to another list.
a = [1,2,3,4,5,2,7,8,2,10]
b = a
print(b)

#same copy can be done using copy() method
a = [45,66,77]
b = a.copy()
print(b)

[1, 2, 3, 4, 5, 2, 7, 8, 2, 10]
[45, 66, 77]

# list methods - clear()

In [83]:
#The clear() method removes all items from the list
a = [1,2,3,4,5,2,7,8,2,10]
print(a)

#after clearing
a.clear()
print(a)

[1, 2, 3, 4, 5, 2, 7, 8, 2, 10]
[]