# Functions 
(set of insturctions or a small program to do a specific task stored under a name) <br>

There are two types of functions in python <br>

1. Library function (builtin function)
2. User defined functions (UDFs)

advantages of function : reusability, modularization and easy maintaince of code.<br>

builtin functions/library fucntion in python : (Functions supplied by the manufacturer/developer)

In [2]:
print(abs(10-29)) # returns the absolute of a number

a = [10,30,8,6,3,4]
print(min(a)) #returns the minimum value in the given list
print(max(a)) #returns the max value in the given list
print(sum(a)) #returns the sum all elements in the given list
print(len(a)) #returns the number of elements present in the 
#list or number of character present in a string
print(len("computer"))

x = 10
print (type(x)) #returns the data type of a variable
print (type(a))
y = 10.25
print(y)
print(type(y))

print(sum(a)/len(a))

19
3
30
61
6
8
<class 'int'>
<class 'list'>
10.25
<class 'float'>
10.166666666666666

#  strip() -  upper()  -  lower()
<br>

1. strip() : removes leading space and trail space from the given string 
2. upper() : converts characters to upper case
3. lower() : converts characters to lower case

In [5]:
a = " compuTeR  " 
print(a.upper())
print(a.lower())
print(len(a))
print(len(a.strip()))

 COMPUTER
 computer
11
8

# capitalize() 

This method converts first character of a string to uppercase letter and remaining character to lower case

In [7]:
nam = "svl TechnoLogieS"
cname = nam.capitalize()
print(nam)
print(cname)

svl TechnoLogieS
Svl technologies

# center()

This method returns a string which is padded with the specified character.

In [15]:
mystr = "I love programming"
new_string = mystr.center(50)
print("Centered String: ", new_string)

Centered String:                  I love programming

In [16]:
new_string = mystr.center(50,"*")
print("Centered String: ", new_string)

Centered String:  ****************I love programming****************

# count() 

This method only requires a single parameter for execution, it also has two optional parameters: start and end

In [17]:
mystr = "I Love programmig and I love python"
searchstr = "I"

count = mystr.count(searchstr)

print("The count is:", count)

The count is: 2

# sort()

arranges the list elements in ascending order or descending order. <br>
by default : ascending order

In [19]:
#(returns the sorted list in the given order)
a = [10,12,16,7,9,3,4,6,5,1]
print(a)

a.sort() # sort ascending order
print(a)

a.sort(reverse = True) # descending order
print(a)

[10, 12, 16, 7, 9, 3, 4, 6, 5, 1]
[1, 3, 4, 5, 6, 7, 9, 10, 12, 16]
[16, 12, 10, 9, 7, 6, 5, 4, 3, 1]

In [20]:
info = [('Ram',28,5.6),('Krisha',40,5.5),('Amar',26,6)]
info.sort()
print (info)

[('Amar', 26, 6), ('Krisha', 40, 5.5), ('Ram', 28, 5.6)]

In [21]:
def sortkey(x):
    return x[1]

In [22]:
info.sort(key = sortkey)
print (info)

info.sort(key = sortkey, reverse=True)
print(info)

[('Amar', 26, 6), ('Ram', 28, 5.6), ('Krisha', 40, 5.5)]
[('Krisha', 40, 5.5), ('Ram', 28, 5.6), ('Amar', 26, 6)]

# udf  (user defined functions)

defining function in python :<br><br>
    def function_name(paramaters):  (paramanter : input for the function)
<pre>        statements</pre>   
<pre>        return value</pre>
return value : result sent by the function<br>

In [24]:
#function to add two numbers
def fadd(x,y):
    s = x + y
    return s

In [25]:
a = 20
b = 100
c = fadd(a,b)
print(c)

120

In [26]:
#function to convert the given string into proper case

def fupper(s):
    s=s.strip()     #s = " comPutEr "
    fc=s[0].upper()  #fc = "C"
    rc=s[1:].lower() #rc = "omputer"
    newstring=fc+rc  #newstring = Computer #adding/joining of two string variables : concatenation
    return newstring

In [27]:
#using fupper function:

nam =" comPuteR "
print (nam)
print(len(nam))
mname = fupper(nam)
print(mname)
print(len(mname))

 comPuteR
10
Computer
8

In [28]:
a = [' rama ', ' krishna ', 'gopal', ' amar ', ' kiran ']
nlist = []
for v in a:
    na = fupper(v)
    nlist.append(na)
print(a)
print (nlist)

[' rama ', ' krishna ', 'gopal', ' amar ', ' kiran ']
['Rama', 'Krishna', 'Gopal', 'Amar', 'Kiran']

In [29]:
#fgender function to transform m : male f : female

def fgender(gender):
    if gender == 'm' or gender == 'M':
        res = "Male"
    if gender == 'f' or gender == 'F':
        res = "Female"
    return res

In [30]:
name=['amar','barath','chitra','deeksha','eshwar']
sal=[40000,50000,60000,55000,45000]
dno=[11,12,13,14,15]
gender=['m','m','f','f','m']
info=[]
for n,s,d,g in list(zip(name,sal,dno,gender)):
    mname = fupper(n)
    gen = fgender(g)
    info.append((mname,gen,d,s))
#print(info)
for v in info:
    print(v)

('Amar', 'Male', 11, 40000)
('Barath', 'Male', 12, 50000)
('Chitra', 'Female', 13, 60000)
('Deeksha', 'Female', 14, 55000)
('Eshwar', 'Male', 15, 45000)