# File Handling

The read() method returns the specified number of bytes from the file. <br>
Default is -1 which means the whole file.<br>

readline : read a line from the given file (usually a line is terminated by \n)<br>

readlines : reads all the data from the file and returns a list object<br>
means data are stored in list.<br>

by default file will be opened in Read mode "r"<br><br>
fileobj = open("filepath/samplefile.txt",mode)<br>

In [25]:
f=open('Demo1_lines.txt')

data=f.read()
# data=f.read(200)
print(data)
print(len(data))

# data=f.readline()
# print(data)
# data = f.readline()
# print(data)

# data=f.readlines()
# print(data)
# print("******************************************************")
# print(data[0])
# f.close()

Data in line_1
Data in line_2
Data in line_3
Data in line_4
59

In [45]:
f=open('Demo1_lines.txt')
print(f.read(5))
print(f.readline())
print(f.read(7))
print(f.read())
print("**************************")
print(f.read())
f.close()

Data
in line_1

Data in
 line_2
Data in line_3
Data in line_4
**************************

# method - tell()

In [26]:
#Python file method tell() returns the current position of the 
#file read/write pointer within the file.

f=open('Demo1_lines.txt')
print(f.tell())
print(f.read(5))
print(f.tell())
f.close()

0
Data
5

# method - seek()

In [28]:
#The seek() method sets the current file position in a file stream.

f=open('Demo1_lines.txt')
print(f.read())
f.seek(2)
print('-----------------')
print(f.read())
f.close()

Data in line_1
Data in line_2
Data in line_3
Data in line_4
-----------------
ta in line_1
Data in line_2
Data in line_3
Data in line_4

In [29]:
fileobj=open("Demo2_EmpData.txt")
line1=fileobj.readline()
line2=fileobj.readline()
line3=fileobj.readline()
print(line1)
print(line2)
print(line3)

"id","name","salary","gender","dno"

101,amar,50000,m,11

102,kiran,45000,f,12

In [18]:
fileobj=open("Demo2_EmpData.txt")
lines=fileobj.readlines()  #read all the lines in the file
print(lines)
print("-------------------------")
for v in lines:
    print(v)

['"id","name","salary","gender","dno"\n', '101,amar,50000,m,11\n', '102,kiran,45000,f,12\n', '103,ankita,65000,f,11\n', '104,ravi,45000,m,11\n', '105,Suresh,55000,m,12\n', '106,Rama,75000,f,11\n', '107,Krishna,60000,m,11\n', '108,Karshima,35000,f,11\n', '109,Rani,90000,f,12\n', '110,Chandan,25000,m,13\n', '111,Reena,65000,f,14\n', '112,Veni,10000,f,14']
-------------------------
"id","name","salary","gender","dno"

101,amar,50000,m,11

102,kiran,45000,f,12

103,ankita,65000,f,11

104,ravi,45000,m,11

105,Suresh,55000,m,12

106,Rama,75000,f,11

107,Krishna,60000,m,11

108,Karshima,35000,f,11

109,Rani,90000,f,12

110,Chandan,25000,m,13

111,Reena,65000,f,14

112,Veni,10000,f,14

In [30]:
fileobj=open("Demo2_EmpData.txt")
line=fileobj.readlines()

#for v in line:
#    print (v)

for v in line:
    v=v.strip()
    print(v)

"id","name","salary","gender","dno"
101,amar,50000,m,11
102,kiran,45000,f,12
103,ankita,65000,f,11
104,ravi,45000,m,11
105,Suresh,55000,m,12
106,Rama,75000,f,11
107,Krishna,60000,m,11
108,Karshima,35000,f,11
109,Rani,90000,f,12
110,Chandan,25000,m,13
111,Reena,65000,f,14
112,Veni,10000,f,14

In [36]:
#reading data from a file appending it to a list object
fileobj=open("Demo3_age.txt")
#lines = fileobj.readlines()
#print(lines)
# for x in lines:
#     print(x)

header = fileobj.readline()
print(header)

flist = [] #empty list
lines = fileobj.readlines()
for v in lines:
    v=v.strip()
    flist.append(float(v))
#print(flist)

for v in flist:
    print(v)

"Age"

11.0
12.0
13.0
14.0
15.0
16.0
17.0
18.0
19.0
20.0

In [39]:
#reading data from a file, convert it into tuple and 
#append it to a list object)
# split : Splits a string into a list where each word becomes a list item
fileobj=open("Demo4_ageGender.txt")
#lines = fileobj.readlines()
#print(lines)

header = fileobj.readline()
print(header) 

flist = [] 
lines = fileobj.readlines()      #a = "45,m"
for line in lines:
    w=line.strip().split(',')  #w = [45,m]
    t = (int(w[0]),w[1]) #(45,m)
    flist.append(t)
#print(flist)
for v in flist:
    print(v)

"age","gender"

(10, 'm')
(23, 'f')
(45, 'm')
(46, 'm')
(24, 'f')

In [40]:
#reading data from a file, creating dicitionary by gender key
fileobj=open("Demo4_ageGender.txt")
header = fileobj.readline()
fdict = {}
lines = fileobj.readlines()
for line in lines:
    w=line.strip().split(',')
    gender = w[1]
    age = w[0]          
    if fdict.get(gender)==None: #{m:[45],f:[65]}
        fdict[gender] = [age]
    else:
        fdict[gender].append(age)
print(fdict)

{'m': ['10', '45', '46'], 'f': ['23', '24']}